/** 滚动条样式 */
* {
  box-sizing: border-box;
  &.none-scrollbar::-webkit-scrollbar {
    display: none;
  }
  &::-webkit-scrollbar {
    width: 12px;
    height: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #b4b4b4;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #ededed;
  }
}

.scrollbar, .none-scrollbar {
  overflow: auto;
}

/** 不能选择文本样式 */
.not-selected {
  user-select:none;
}
input, img {
  user-select:none;
}
textarea {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
.over-hidden {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
